$color1: #4c4c4c;
$color2: #677fd1;
$colorborder: #c7c7c7;

@use 'reset';
$link: #677fd1;


@import "../node_modules/bulma/bulma.sass";

.header {
  border-bottom: 2px solid $light;
}

.logo-title {
  font-size: 1em;
}

.header-title {
  font-size: 2.2em;
}



@media only screen and (max-width: 420px) {
  .header-title {
    font-size: 28px;

  }
}

.small-text {
  font-size: 0.8em;
  position: relative;
  bottom: 4px;

  em {
    font-style: italic;
    color: $black;
  }
}

ul.help li span.icon i.material-icons {
  font-size: 12px;
}


.submit-button {
  line-height: 0px;
}


section.container.section {
  max-width: 420px;
}
